@font-face {
    font-family: 'relationship_of_melodrama';
    src: url('/fonts/EduAUVICWANTHand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomono';
    src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;